<div>
  <!-- 面包屑 -->
  <el-breadcrumb separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>用户管理</el-breadcrumb-item>
    <el-breadcrumb-item>用户列表</el-breadcrumb-item>
  </el-breadcrumb>
  <!-- 搜索和添加用户 -->
  <!-- gutter可以指定每列的间距 -->
  <el-row :gutter="20">
    <!-- 搜索 -->
    <el-col :span="8">
      <el-input
        placeholder="请输入内容"
        v-model="searchText"
        class="input-with-select"
      >
        <el-button
          slot="append"
          icon="el-icon-search"
          @click="getsearch"
        ></el-button>
      </el-input>
    </el-col>
    <!-- 添加用户 -->
    <el-col :span="2">
      <!-- 按钮 -->
      <el-button @click="dialogFormVisible = true">添加用户</el-button>
      <!-- 弹出框 -->
      <el-dialog title="添加用户" :visible.sync="dialogFormVisible" width="30%">
        <!-- 表单 -->
        <el-form
          :model="addForm"
          :rules="rules"
          ref="addForm"
          label-width="100px"
        >
          <el-form-item label="用户名" prop="username">
            <el-input
              v-model="addForm.username"
              placeholder="请输入用户名"
            ></el-input>
          </el-form-item>
          <el-form-item label="用户密码" prop="password">
            <el-input
              v-model="addForm.password"
              type="password"
              placeholder="请输入密码"
            ></el-input>
          </el-form-item>
          <el-form-item label="邮箱" prop="email">
            <el-input
              v-model="addForm.email"
              placeholder="请输入邮箱"
            ></el-input>
          </el-form-item>
          <el-form-item label="手机号" prop="mobile">
            <el-input
              v-model="addForm.mobile"
              placeholder="请输入电话"
            ></el-input>
          </el-form-item>
        </el-form>
        <!-- 底部 -->
        <div slot="footer" class="dialog-footer">
          <el-button @click="resetForm">取 消</el-button>
          <el-button type="primary" @click="submitForm">确 定</el-button>
        </div>
      </el-dialog>
    </el-col>
  </el-row>
  <!-- 列表 -->
  <el-table :data="tableData" style="width: 100%">
    <el-table-column prop="username" label="姓名"></el-table-column>
    <el-table-column prop="email" label="邮箱"></el-table-column>
    <el-table-column prop="mobile" label="电话"></el-table-column>
    <el-table-column prop="mg_state" label="用户状态">
      <template slot-scope="scope">
        <el-switch
          @change="changeUserState(scope.row)"
          v-model="scope.row.mg_state"
        ></el-switch>
      </template>
    </el-table-column>
    <el-table-column prop="operate" label="操作" width="280px">
      <template slot-scope="scope">
        <!-- 编辑 -->
        <el-button
          size="mini"
          type="primary"
          icon="el-icon-edit"
          plain
          @click="updateUser(scope.row)"
        ></el-button>
        <!-- 删除 -->
        <el-button
          size="mini"
          type="danger"
          icon="el-icon-delete"
          plain
          @click="delUser(scope.row.id)"
        ></el-button>
        <!-- 更改角色 -->
        <el-button
          size="mini"
          type="success"
          icon="el-icon-check"
          plain
          @click="showAssign(scope.row)"
          >分配角色</el-button
        >
        <!-- @click="updateRoles(scope.row)" -->
      </template>
    </el-table-column>
  </el-table>
  <!-- 分页 -->
  <el-pagination
    background
    layout="prev, pager, next"
    :total="total"
    :current-page="pagenum"
    :page-size="2"
    @current-change="changCurrent"
  ></el-pagination>
  <!-- 编辑表单 -->
  <el-dialog title="更改用户信息" :visible.sync="dialogUpdateVisible">
    <el-form :model="updateFrom" ref="updateFrom" label-width="100px">
      <el-form-item label="用户名" prop="username">
        <el-input
          v-model="updateFrom.username"
          :disabled="true"
          :value="updateFrom.username"
        ></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input
          v-model="updateFrom.email"
          :value="updateFrom.email"
        ></el-input>
      </el-form-item>
      <el-form-item label="电话" prop="mobile">
        <el-input
          v-model="updateFrom.mobile"
          :value="updateFrom.mobile"
        ></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogUpdateVisible = false">取 消</el-button>
      <el-button type="primary" @click="uUpdate">确 定</el-button>
    </div>
  </el-dialog>
  <!-- 分配角色弹出框 -->
  <el-dialog title="提示" :visible.sync="rolesVisible" width="60%">
    <el-form :model="assignRoleForm" label-width="80px">
      <el-form-item label="用户名">
        <el-tag>{{ assignRoleForm.username }}</el-tag>
      </el-form-item>
      <el-form-item label="角色列表">
        <el-select v-model="assignRoleForm.rid" placeholder="请选择角色">
          <!-- label : 展示  value:才是与rid绑定的值 -->
          <el-option
            v-for="item in rolesList"
            :key="item.id"
            :label="item.roleName"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="rolesVisible = false">取 消</el-button>
      <el-button type="primary" @click="selectRoles">确 定</el-button>
    </span>
  </el-dialog>
</div>
