<div>
    <!-- 按钮 -->
    <el-button type='success' plain @click='dialogVisible = true'>添加分类</el-button>
    <!-- 树形结构表格 -->
    <el-table :data="tableData" style="width: 100%">
                <el-table-tree-column
                  file-icon="icon icon-file"
                  folder-icon="icon icon-folder"
                  prop="cat_name"
                  label="分类名称"
                  width='220'
                  tree-key='cat_id'
                  parent-key='cat_pid'
                  level-key='cat_level'
                  :indent-size='30'
                ></el-table-tree-column>
                </el-table-column>
                <el-table-column prop="cat_deleted" label="是否有效" width="180">
                  <template slot-scope="scope">
                    <span>{{scope.row.cat_deleted=true?'是':'否'}}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="cat_level" label="层级" width="180"> </el-table-column>
    </el-table>
    <!-- 弹框 -->
    <el-dialog title="提示":visible.sync="dialogVisible" width="50%">
    <!-- 弹出框内容 -->
    <el-form :model="addForm"  label-width="100px">
            <el-form-item label="分类名称">
              <el-input v-model="addForm.cat_name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="父级名称">
                <el-cascader
                v-model="addForm.cat_pid_arr"
                :options="options"
                change-on-select
                :props='defaulProps'
              ></el-cascader>
            </el-form-item>
  </el-form>
  <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="startAddCat">确 定</el-button>
  </span>
    </el-dialog>
</div>
